PIPEDRIVE_API_TOKEN=
DASHBOARD_PASSWORD=
DASHBOARD_SECRET=
DASHBOARD_CACHE_TTL_MS=900000

# Opcional: sobreescribe las claves de campos personalizados de Pipedrive
# PD_FIELD_FUENTE=
# PD_FIELD_CAMPANA=
# PD_FIELD_CONTENIDO=
